PORT=5000
MONGODB_URI=mongodb://localhost:27017/kiyim_dizayn
JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRES=7d

FIREBASE_PROJECT_ID=your-project-id
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@your-project.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"

UPLOADTHING_SECRET=sk_live_xxxxx
UPLOADTHING_APP_ID=xxxxx


NODE_ENV=development
ADMIN_EMAIL=admin@example.com

# Subscription plans (optional defaults)
SUBSCRIPTION_1M_PRICE=5000000
SUBSCRIPTION_3M_PRICE=12000000
SUBSCRIPTION_1Y_PRICE=40000000
# ─── PAYME ─────────────────────────────────────────────────────
PAYME_MERCHANT_ID=your_merchant_id
PAYME_MERCHANT_KEY=your_merchant_key
